{
    "openapi": "3.1.0",
    "info": {
        "title": "seren-storage",
        "description": "Organization-scoped durable object storage for Seren agents and services.",
        "contact": {
            "name": "SerenAI",
            "email": "hello@serendb.com"
        },
        "license": {
            "name": ""
        },
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "https://api.serendb.com/publishers/seren-storage",
            "description": "Seren Storage production API"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Meta"
                ],
                "operationId": "root",
                "responses": {
                    "200": {
                        "description": "Service metadata",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ServiceInfo"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/buckets": {
            "get": {
                "tags": [
                    "Objects"
                ],
                "operationId": "list_buckets",
                "responses": {
                    "200": {
                        "description": "Storage buckets retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_Vec_ObjectStorageBucket"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorBody"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/agent-grants": {
            "get": {
                "tags": [
                    "Access"
                ],
                "operationId": "list_bucket_agent_grants",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Employee bucket grants retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_Vec_ObjectStorageBucketAgentGrant"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organization management permission required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorBody"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/agent-grants/{agent_identity_id}": {
            "put": {
                "tags": [
                    "Access"
                ],
                "operationId": "put_bucket_agent_grant",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent_identity_id",
                        "in": "path",
                        "description": "Employee identity ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutObjectStorageBucketAgentGrantRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Employee bucket grant stored",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageBucketAgentGrant"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organization management permission required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorBody"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Access"
                ],
                "operationId": "delete_bucket_agent_grant",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agent_identity_id",
                        "in": "path",
                        "description": "Employee identity ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Employee bucket grant revoked"
                    },
                    "403": {
                        "description": "Organization management permission required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorBody"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/lifecycle": {
            "put": {
                "tags": [
                    "Objects"
                ],
                "operationId": "put_bucket_lifecycle",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutObjectStorageBucketLifecycleRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Bucket lifecycle updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageBucket"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Organization management permission required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorBody"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects": {
            "get": {
                "tags": [
                    "Objects"
                ],
                "operationId": "list_objects",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "prefix",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "delimiter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "view",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Storage objects and directory prefixes retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageObjectPage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/by-key/download": {
            "get": {
                "tags": [
                    "Objects"
                ],
                "operationId": "download_object",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_key",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Download URL created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageDownload"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/multipart-uploads": {
            "post": {
                "tags": [
                    "Objects"
                ],
                "operationId": "create_multipart_upload",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateObjectStorageMultipartUploadRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Multipart upload initiated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageMultipartUpload"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Object key already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorBody"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/uploads": {
            "post": {
                "tags": [
                    "Objects"
                ],
                "operationId": "create_upload",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateObjectStorageUploadRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Upload intent created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageUpload"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Object key already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorBody"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/{object_id}": {
            "delete": {
                "tags": [
                    "Objects"
                ],
                "operationId": "delete_object",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_id",
                        "in": "path",
                        "description": "Storage object ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Storage object moved to trash",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageObject"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/{object_id}/confirm-upload": {
            "post": {
                "tags": [
                    "Objects"
                ],
                "operationId": "confirm_upload",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_id",
                        "in": "path",
                        "description": "Storage object ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConfirmObjectStorageUploadRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Upload confirmed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageObject"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/{object_id}/copy": {
            "post": {
                "tags": [
                    "Objects"
                ],
                "operationId": "copy_object",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Source storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_id",
                        "in": "path",
                        "description": "Source storage object ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CopyObjectStorageObjectRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Storage object copied",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageObject"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Destination key already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorBody"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/{object_id}/download": {
            "get": {
                "tags": [
                    "Objects"
                ],
                "operationId": "download_object_by_id",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_id",
                        "in": "path",
                        "description": "Storage object ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Download URL created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageDownload"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/{object_id}/move": {
            "post": {
                "tags": [
                    "Objects"
                ],
                "operationId": "move_object",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Source storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_id",
                        "in": "path",
                        "description": "Source storage object ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MoveObjectStorageObjectRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Storage object moved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageObject"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Destination key already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorBody"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/{object_id}/multipart-upload": {
            "delete": {
                "tags": [
                    "Objects"
                ],
                "operationId": "abort_multipart_upload",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_id",
                        "in": "path",
                        "description": "Storage object ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Multipart upload aborted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageObject"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/{object_id}/multipart-upload/complete": {
            "post": {
                "tags": [
                    "Objects"
                ],
                "operationId": "complete_multipart_upload",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_id",
                        "in": "path",
                        "description": "Storage object ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Multipart upload completed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageObject"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/{object_id}/multipart-upload/parts/{part_number}": {
            "post": {
                "tags": [
                    "Objects"
                ],
                "operationId": "create_multipart_part_upload",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_id",
                        "in": "path",
                        "description": "Storage object ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "part_number",
                        "in": "path",
                        "description": "Multipart part number",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateObjectStorageMultipartPartRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Multipart part upload URL created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageMultipartPartUpload"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/objects/{object_id}/restore": {
            "post": {
                "tags": [
                    "Objects"
                ],
                "operationId": "restore_object",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "object_id",
                        "in": "path",
                        "description": "Storage object ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Storage object restored",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageObject"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Object key is already in use",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorBody"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/workspace-snapshots": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "operationId": "list_workspace_snapshots",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "deployment_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace snapshots retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_Vec_ObjectStorageWorkspaceSnapshot"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Workspaces"
                ],
                "operationId": "create_workspace_snapshot",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateObjectStorageWorkspaceSnapshotRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Workspace snapshot registered",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageWorkspaceSnapshot"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/buckets/{bucket_slug}/workspace-snapshots/latest": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "operationId": "latest_workspace_snapshot",
                "parameters": [
                    {
                        "name": "bucket_slug",
                        "in": "path",
                        "description": "Storage bucket slug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "deployment_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Latest workspace snapshot download created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageWorkspaceSnapshotDownload"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace snapshot not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorBody"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "Health"
                ],
                "operationId": "health",
                "responses": {
                    "200": {
                        "description": "Service health",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_HealthStatus"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/openapi.json": {
            "get": {
                "tags": [
                    "Meta"
                ],
                "operationId": "serve_openapi",
                "responses": {
                    "200": {
                        "description": "OpenAPI document",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/usage": {
            "get": {
                "tags": [
                    "Objects"
                ],
                "operationId": "usage",
                "responses": {
                    "200": {
                        "description": "Organization storage usage retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataResponse_ObjectStorageUsage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearer_auth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ConfirmObjectStorageUploadRequest": {
                "type": "object",
                "properties": {
                    "etag": {
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                }
            },
            "CopyObjectStorageObjectRequest": {
                "type": "object",
                "required": [
                    "destination_bucket_slug",
                    "destination_object_key"
                ],
                "properties": {
                    "destination_bucket_slug": {
                        "type": "string"
                    },
                    "destination_object_key": {
                        "type": "string"
                    },
                    "metadata": {}
                }
            },
            "CreateObjectStorageMultipartPartRequest": {
                "type": "object",
                "required": [
                    "checksum"
                ],
                "properties": {
                    "checksum": {
                        "$ref": "#/components/schemas/ObjectStorageChecksum"
                    }
                }
            },
            "CreateObjectStorageMultipartUploadRequest": {
                "type": "object",
                "required": [
                    "object_key",
                    "byte_length",
                    "checksum"
                ],
                "properties": {
                    "byte_length": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "checksum": {
                        "$ref": "#/components/schemas/ObjectStorageChecksum"
                    },
                    "content_type": {
                        "type": "string"
                    },
                    "metadata": {},
                    "object_key": {
                        "type": "string"
                    },
                    "part_size": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int64"
                    }
                }
            },
            "CreateObjectStorageUploadRequest": {
                "type": "object",
                "required": [
                    "object_key",
                    "byte_length",
                    "checksum"
                ],
                "properties": {
                    "byte_length": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "checksum": {
                        "$ref": "#/components/schemas/ObjectStorageChecksum"
                    },
                    "content_type": {
                        "type": "string"
                    },
                    "metadata": {},
                    "object_key": {
                        "type": "string"
                    }
                }
            },
            "CreateObjectStorageWorkspaceSnapshotRequest": {
                "type": "object",
                "required": [
                    "deployment_id",
                    "object_id",
                    "archive_sha256",
                    "file_count",
                    "uncompressed_bytes"
                ],
                "properties": {
                    "archive_sha256": {
                        "type": "string"
                    },
                    "deployment_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "file_count": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "object_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "retention_count": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "uncompressed_bytes": {
                        "type": "integer",
                        "format": "int64"
                    }
                }
            },
            "DataResponse_HealthStatus": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "status"
                        ],
                        "properties": {
                            "status": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "DataResponse_ObjectStorageBucket": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "id",
                            "organization_id",
                            "slug",
                            "metadata",
                            "trash_retention_days",
                            "created_at",
                            "updated_at"
                        ],
                        "properties": {
                            "created_at": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "created_by_user_id": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "uuid"
                            },
                            "display_name": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "expire_after_days": {
                                "type": [
                                    "integer",
                                    "null"
                                ],
                                "format": "int32"
                            },
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "metadata": {},
                            "organization_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "slug": {
                                "type": "string"
                            },
                            "trash_retention_days": {
                                "type": "integer",
                                "format": "int32"
                            },
                            "updated_at": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                }
            },
            "DataResponse_ObjectStorageBucketAgentGrant": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "id",
                            "organization_id",
                            "bucket_id",
                            "bucket_slug",
                            "agent_identity_id",
                            "permission",
                            "created_by_user_id",
                            "updated_by_user_id",
                            "created_at",
                            "updated_at"
                        ],
                        "properties": {
                            "agent_identity_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "bucket_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "bucket_slug": {
                                "type": "string"
                            },
                            "created_at": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "created_by_user_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "organization_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "permission": {
                                "$ref": "#/components/schemas/ObjectStorageAgentPermission"
                            },
                            "updated_at": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "updated_by_user_id": {
                                "type": "string",
                                "format": "uuid"
                            }
                        }
                    }
                }
            },
            "DataResponse_ObjectStorageDownload": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "object",
                            "download_url",
                            "download_headers",
                            "download_expires_at"
                        ],
                        "properties": {
                            "download_expires_at": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "download_headers": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "propertyNames": {
                                    "type": "string"
                                }
                            },
                            "download_url": {
                                "type": "string"
                            },
                            "object": {
                                "$ref": "#/components/schemas/ObjectStorageObject"
                            }
                        }
                    }
                }
            },
            "DataResponse_ObjectStorageMultipartPartUpload": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "object_id",
                            "part_number",
                            "byte_length",
                            "checksum",
                            "upload_url",
                            "upload_headers",
                            "upload_expires_at"
                        ],
                        "properties": {
                            "byte_length": {
                                "type": "integer",
                                "format": "int64"
                            },
                            "checksum": {
                                "$ref": "#/components/schemas/ObjectStorageChecksum"
                            },
                            "object_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "part_number": {
                                "type": "integer",
                                "format": "int32"
                            },
                            "upload_expires_at": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "upload_headers": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "propertyNames": {
                                    "type": "string"
                                }
                            },
                            "upload_url": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "DataResponse_ObjectStorageMultipartUpload": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "object",
                            "part_size",
                            "part_count",
                            "upload_expires_at"
                        ],
                        "properties": {
                            "object": {
                                "$ref": "#/components/schemas/ObjectStorageObject"
                            },
                            "part_count": {
                                "type": "integer",
                                "format": "int32"
                            },
                            "part_size": {
                                "type": "integer",
                                "format": "int64"
                            },
                            "upload_expires_at": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                }
            },
            "DataResponse_ObjectStorageObject": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "id",
                            "organization_id",
                            "bucket_id",
                            "bucket_slug",
                            "object_key",
                            "content_type",
                            "byte_length",
                            "checksum",
                            "upload_mode",
                            "status",
                            "uri",
                            "metadata",
                            "created_by_user_id",
                            "created_at",
                            "updated_at"
                        ],
                        "properties": {
                            "bucket_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "bucket_slug": {
                                "type": "string"
                            },
                            "byte_length": {
                                "type": "integer",
                                "format": "int64"
                            },
                            "checksum": {
                                "$ref": "#/components/schemas/ObjectStorageChecksum"
                            },
                            "content_type": {
                                "type": "string"
                            },
                            "created_at": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "created_by_user_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "etag": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "expires_at": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "metadata": {},
                            "object_key": {
                                "type": "string"
                            },
                            "organization_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "purge_after": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "status": {
                                "$ref": "#/components/schemas/ObjectStorageObjectStatus"
                            },
                            "trash_reason": {
                                "oneOf": [
                                    {
                                        "type": "null"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ObjectStorageTrashReason"
                                    }
                                ]
                            },
                            "trashed_at": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "trashed_by_user_id": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "uuid"
                            },
                            "updated_at": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "upload_mode": {
                                "$ref": "#/components/schemas/ObjectStorageUploadMode"
                            },
                            "uploaded_at": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "uploaded_by_user_id": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "uuid"
                            },
                            "uri": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "DataResponse_ObjectStorageObjectPage": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "objects",
                            "common_prefixes"
                        ],
                        "properties": {
                            "common_prefixes": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "next_cursor": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "objects": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/ObjectStorageObject"
                                }
                            }
                        }
                    }
                }
            },
            "DataResponse_ObjectStorageUpload": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "object",
                            "upload_url",
                            "upload_headers",
                            "upload_expires_at"
                        ],
                        "properties": {
                            "object": {
                                "$ref": "#/components/schemas/ObjectStorageObject"
                            },
                            "upload_expires_at": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "upload_headers": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "propertyNames": {
                                    "type": "string"
                                }
                            },
                            "upload_url": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "DataResponse_ObjectStorageUsage": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "organization_id",
                            "quota_bytes",
                            "object_limit",
                            "pending_upload_limit",
                            "reserved_bytes",
                            "buckets"
                        ],
                        "properties": {
                            "buckets": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/ObjectStorageBucketUsage"
                                }
                            },
                            "object_limit": {
                                "type": "integer",
                                "format": "int64"
                            },
                            "organization_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "pending_upload_limit": {
                                "type": "integer",
                                "format": "int64"
                            },
                            "quota_bytes": {
                                "type": "integer",
                                "format": "int64"
                            },
                            "reserved_bytes": {
                                "type": "integer",
                                "format": "int64"
                            }
                        }
                    }
                }
            },
            "DataResponse_ObjectStorageWorkspaceSnapshot": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "id",
                            "organization_id",
                            "bucket_id",
                            "bucket_slug",
                            "deployment_id",
                            "agent_identity_id",
                            "object",
                            "archive_sha256",
                            "file_count",
                            "uncompressed_bytes",
                            "status",
                            "created_by_user_id",
                            "created_at",
                            "updated_at"
                        ],
                        "properties": {
                            "agent_identity_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "archive_sha256": {
                                "type": "string"
                            },
                            "bucket_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "bucket_slug": {
                                "type": "string"
                            },
                            "created_at": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "created_by_user_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "deployment_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "file_count": {
                                "type": "integer",
                                "format": "int64"
                            },
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "object": {
                                "$ref": "#/components/schemas/ObjectStorageObject"
                            },
                            "organization_id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "retired_at": {
                                "type": [
                                    "string",
                                    "null"
                                ],
                                "format": "date-time"
                            },
                            "status": {
                                "$ref": "#/components/schemas/ObjectStorageWorkspaceSnapshotStatus"
                            },
                            "uncompressed_bytes": {
                                "type": "integer",
                                "format": "int64"
                            },
                            "updated_at": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                }
            },
            "DataResponse_ObjectStorageWorkspaceSnapshotDownload": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "snapshot",
                            "download_url",
                            "download_headers",
                            "download_expires_at"
                        ],
                        "properties": {
                            "download_expires_at": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "download_headers": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "propertyNames": {
                                    "type": "string"
                                }
                            },
                            "download_url": {
                                "type": "string"
                            },
                            "snapshot": {
                                "$ref": "#/components/schemas/ObjectStorageWorkspaceSnapshot"
                            }
                        }
                    }
                }
            },
            "DataResponse_ServiceInfo": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "name",
                            "version"
                        ],
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "version": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "DataResponse_Vec_ObjectStorageBucket": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "id",
                                "organization_id",
                                "slug",
                                "metadata",
                                "trash_retention_days",
                                "created_at",
                                "updated_at"
                            ],
                            "properties": {
                                "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "created_by_user_id": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "format": "uuid"
                                },
                                "display_name": {
                                    "type": [
                                        "string",
                                        "null"
                                    ]
                                },
                                "expire_after_days": {
                                    "type": [
                                        "integer",
                                        "null"
                                    ],
                                    "format": "int32"
                                },
                                "id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "metadata": {},
                                "organization_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "slug": {
                                    "type": "string"
                                },
                                "trash_retention_days": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    }
                }
            },
            "DataResponse_Vec_ObjectStorageBucketAgentGrant": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "id",
                                "organization_id",
                                "bucket_id",
                                "bucket_slug",
                                "agent_identity_id",
                                "permission",
                                "created_by_user_id",
                                "updated_by_user_id",
                                "created_at",
                                "updated_at"
                            ],
                            "properties": {
                                "agent_identity_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "bucket_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "bucket_slug": {
                                    "type": "string"
                                },
                                "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "created_by_user_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "organization_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "permission": {
                                    "$ref": "#/components/schemas/ObjectStorageAgentPermission"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "updated_by_user_id": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        }
                    }
                }
            },
            "DataResponse_Vec_ObjectStorageWorkspaceSnapshot": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "required": [
                                "id",
                                "organization_id",
                                "bucket_id",
                                "bucket_slug",
                                "deployment_id",
                                "agent_identity_id",
                                "object",
                                "archive_sha256",
                                "file_count",
                                "uncompressed_bytes",
                                "status",
                                "created_by_user_id",
                                "created_at",
                                "updated_at"
                            ],
                            "properties": {
                                "agent_identity_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "archive_sha256": {
                                    "type": "string"
                                },
                                "bucket_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "bucket_slug": {
                                    "type": "string"
                                },
                                "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "created_by_user_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "deployment_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "file_count": {
                                    "type": "integer",
                                    "format": "int64"
                                },
                                "id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "object": {
                                    "$ref": "#/components/schemas/ObjectStorageObject"
                                },
                                "organization_id": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "retired_at": {
                                    "type": [
                                        "string",
                                        "null"
                                    ],
                                    "format": "date-time"
                                },
                                "status": {
                                    "$ref": "#/components/schemas/ObjectStorageWorkspaceSnapshotStatus"
                                },
                                "uncompressed_bytes": {
                                    "type": "integer",
                                    "format": "int64"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    }
                }
            },
            "ErrorBody": {
                "type": "object",
                "required": [
                    "error",
                    "message"
                ],
                "properties": {
                    "error": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "HealthStatus": {
                "type": "object",
                "required": [
                    "status"
                ],
                "properties": {
                    "status": {
                        "type": "string"
                    }
                }
            },
            "MoveObjectStorageObjectRequest": {
                "type": "object",
                "required": [
                    "destination_bucket_slug",
                    "destination_object_key"
                ],
                "properties": {
                    "destination_bucket_slug": {
                        "type": "string"
                    },
                    "destination_object_key": {
                        "type": "string"
                    }
                }
            },
            "ObjectStorageAgentPermission": {
                "type": "string",
                "enum": [
                    "reader",
                    "writer"
                ]
            },
            "ObjectStorageBucket": {
                "type": "object",
                "required": [
                    "id",
                    "organization_id",
                    "slug",
                    "metadata",
                    "trash_retention_days",
                    "created_at",
                    "updated_at"
                ],
                "properties": {
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "created_by_user_id": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "uuid"
                    },
                    "display_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "expire_after_days": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "metadata": {},
                    "organization_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "trash_retention_days": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ObjectStorageBucketAgentGrant": {
                "type": "object",
                "required": [
                    "id",
                    "organization_id",
                    "bucket_id",
                    "bucket_slug",
                    "agent_identity_id",
                    "permission",
                    "created_by_user_id",
                    "updated_by_user_id",
                    "created_at",
                    "updated_at"
                ],
                "properties": {
                    "agent_identity_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "bucket_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "bucket_slug": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "created_by_user_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "organization_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "permission": {
                        "$ref": "#/components/schemas/ObjectStorageAgentPermission"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_by_user_id": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "ObjectStorageBucketUsage": {
                "type": "object",
                "required": [
                    "bucket_id",
                    "bucket_slug",
                    "active_objects",
                    "active_bytes",
                    "pending_objects",
                    "pending_bytes",
                    "trashed_objects",
                    "trashed_bytes",
                    "deleting_objects",
                    "deleting_bytes"
                ],
                "properties": {
                    "active_bytes": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "active_objects": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "bucket_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "bucket_slug": {
                        "type": "string"
                    },
                    "deleting_bytes": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "deleting_objects": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "pending_bytes": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "pending_objects": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "trashed_bytes": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "trashed_objects": {
                        "type": "integer",
                        "format": "int64"
                    }
                }
            },
            "ObjectStorageChecksum": {
                "type": "object",
                "required": [
                    "algorithm",
                    "value"
                ],
                "properties": {
                    "algorithm": {
                        "$ref": "#/components/schemas/ObjectStorageChecksumAlgorithm"
                    },
                    "value": {
                        "type": "string"
                    }
                }
            },
            "ObjectStorageChecksumAlgorithm": {
                "type": "string",
                "enum": [
                    "sha256",
                    "crc32c"
                ]
            },
            "ObjectStorageDownload": {
                "type": "object",
                "required": [
                    "object",
                    "download_url",
                    "download_headers",
                    "download_expires_at"
                ],
                "properties": {
                    "download_expires_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "download_headers": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "propertyNames": {
                            "type": "string"
                        }
                    },
                    "download_url": {
                        "type": "string"
                    },
                    "object": {
                        "$ref": "#/components/schemas/ObjectStorageObject"
                    }
                }
            },
            "ObjectStorageMultipartPartUpload": {
                "type": "object",
                "required": [
                    "object_id",
                    "part_number",
                    "byte_length",
                    "checksum",
                    "upload_url",
                    "upload_headers",
                    "upload_expires_at"
                ],
                "properties": {
                    "byte_length": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "checksum": {
                        "$ref": "#/components/schemas/ObjectStorageChecksum"
                    },
                    "object_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "part_number": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "upload_expires_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "upload_headers": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "propertyNames": {
                            "type": "string"
                        }
                    },
                    "upload_url": {
                        "type": "string"
                    }
                }
            },
            "ObjectStorageMultipartUpload": {
                "type": "object",
                "required": [
                    "object",
                    "part_size",
                    "part_count",
                    "upload_expires_at"
                ],
                "properties": {
                    "object": {
                        "$ref": "#/components/schemas/ObjectStorageObject"
                    },
                    "part_count": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "part_size": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "upload_expires_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ObjectStorageObject": {
                "type": "object",
                "required": [
                    "id",
                    "organization_id",
                    "bucket_id",
                    "bucket_slug",
                    "object_key",
                    "content_type",
                    "byte_length",
                    "checksum",
                    "upload_mode",
                    "status",
                    "uri",
                    "metadata",
                    "created_by_user_id",
                    "created_at",
                    "updated_at"
                ],
                "properties": {
                    "bucket_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "bucket_slug": {
                        "type": "string"
                    },
                    "byte_length": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "checksum": {
                        "$ref": "#/components/schemas/ObjectStorageChecksum"
                    },
                    "content_type": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "created_by_user_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "etag": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "expires_at": {
                        "type": [
                            "string",
                            "null"
[...]
